<section id="belowNav" class="u_log"> 
  <div class="container marg-cont">
    <div class="card col-md-4 log_form">
      <h4>Edit Account: <strong><%= @current_user.email %></strong></h4><hr>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true, autofocus: true %>
          <%= f.input :birthday, start_year: 1910, required: true, autofocus: true%>
          <%= f.label :gender, "Gender" %>
          <%= f.select :gender, ["Male", "Female", "Other"], include_blank: true  %>
        </div>
        <center>
        <div class="form-actions">
          <%= button_to(type:'submit',class:"btn-default")do%>  
            <span class="glyphicon glyphicon-send"></span> Update
          <%end%>
        </div>
        </center>
      <% end %>
      <hr>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Back", :back %>
    </div>
  </div>
</section>

